.home {
  display: flex1;
  flex-direction: column;
  align-items: center;
}
.create_form input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}
.create_form button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-left: 1%;
}
.task {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 30px;
  padding: 3px;
  margin-top: 2px;
}
.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;
}
